#####################################
# Configuration locale pour Calypso #
#####################################

# Les propriétés définies ici ont priorité sur celles définies
# dans les autres fichiers de configuration (dspace.cfg, modules/*.cfg, ...).
# Toutefois, les variables d'environnement ont priorités sur ce fichier.
# Voir config-definition.xml pour plus de détails.

# Dans le fichier local.cfg, on doit définir UNIQUEMENT LES PROPRIÉTÉS
# QUI ONT LA MÊME VALEUR POUR TOUTES LES INSTANCES DE CALYPSO. Ce sont
# donc des propriétés qui sont liées au fonctionnement de l'application
# et non son environnement d'excutation.

# Par exemple, on va mettre ici des propriétés de configuration du "browsing"
# mais pas celles liées à l'accès à la base de donnée (URL de connexion,
# usager et mot de passe, etc.)

# Les propriétés spécifiques à l'environnement d'exécution seront définies
# dans des fichiers local.local.cfg qui est inclus avec la
# directive suivante:

include = local.local.cfg

# Les propriétés définies dans local.local.cfg ont priorités sur celles
# définies ci-dessous, si jamais elles sont le même nom. Donc le fichier
# local.local.cfg pourrait aussi servir à redéféfinir localement des 
# propriétés liées au fonctionnement, mais cette pratique devrait être
# réservée à des fins de test.

# Tous nos changements aux propriétés de configuration doivent être dans
# local.cfg ou dans local.local.cfg (ou en variable d'environnement). 
# JAMAIS dans dspace.cfg, modules/*.cfg, etc. Ces fichiers doivent toujours
# être conformes à la dernière version de Dspace.

##########################
# Nom et langues du site #
##########################

# Nom du site
# Voir l'impact réel et déterminer le bon nom et s'il doit être local
dspace.name = Calypso

# Default language for metadata values
default.language = fr
default.locale = fr
webui.supported.locales = fr, en


##########
# Browse #
##########

# Voir la section "Browse Configuration" dans dspace.cfg
# Configuration du browse avec dcterms


# On retirer le browse du vaocabulaire SRSC, livré par défaut avec DSpace
webui.browse.vocabularies.disabled = srsc

############################
# Registre des métadonnées #
############################
registry.metadata.load = calypso-types.xml

########
# IIIF #
########

iiif.enabled = true
event.dispatcher.default.consumers = versioning, discovery, eperson, iiif, clip

# Pour la recherche dans les documents avec OCR, ajuster
# dans local.local.cfg si ce n'est pas le core "ocr"
iiif.search.url = ${solr.server}/${solr.multicorePrefix}ocr
iiif.search.plugin = org.dspace.app.iiif.service.CalypsoWordHighlightSolrSearch

# Pour ajouter des rendering depuis un bundle spécifique et pour pointer sur l'item
iiif.rendering.bundle = RENDERING
iiif.rendering.item = Notice complète

#iiif v3
iiif.image.server.v3 = http://localhost:8182/iiif/3/

iiif.metadata.item = dc.title
iiif.metadata.item = dc.date.issued
iiif.metadata.item = dc.contributor.*
iiif.metadata.item = dc.description.abstract
iiif.metadata.item = dc.language.iso

# Pour ajouter des seeAlso à un item depuis un bundle spécifique
iiif.seealso.bundle = SEEALSO

# Pour ajouter du contenu OCR aux images
iiif.ocr.bundle = OCR
iiif.ocr.seealso.label = Contenu OCR
iiif.ocr.seealso.profile = http://www.loc.gov/standards/alto/v3/alto.xsd

# Pour ajouter des transcriptions aux images
iiif.transcriptions.bundle = TRANSCRIPTIONS
iiif.transcriptions.label = Transcriptions

# Ajouter la direction dans manifest en v3. Option possibles:  left-to-right, right-to-left, top-to-bottom, bottom-to-top, TOP_TO_BOTTOM
iiif.v3.document.viewing.direction =  left-to-right

# Plusieurs autres configurations possibles, voir modules/iiif.cfg

###########
# AI-CLIP #
###########

event.consumer.clip.class = ca.umontreal.bib.calypso.clip.ClipConsumer
event.consumer.clip.filters = Collection+ADD:Item+Install:Item+Modify:Bitstream+Create:Bitstream+Delete
calypso.clip.server.url = http://localhost:8000
calypso.clip.bundle.execute = ORIGINAL
